/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background: linear-gradient(to right, #fdf0f7, #e0c3fc);
    color: #333;
  }
  
  /* Cabeçalho */
  header {
    background-color: #bb86fc;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.8em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
 
  
  }
  
  /* Conteúdo principal */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
  }
  
  /* Blocos de artistas */
  .bloco {
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .bloco:hover {
    transform: scale(1.05);
  }
  
  .bloco img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px 0;
    border: 4px solid #bb86fc;
  }
  
  .bloco p {
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  /* Botões */
  button {
    background-color: #bb86fc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #9f6ce0;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 15px;
    background-color: #f3e8ff;
    color: #555;
    margin-top: 40px;

  }
    .menu-direita ul{
       list-style: none;
       margin: 0;
       padding: 0;
       display: flex;
       gap: 20px;
    }

    .menu-direita a {
      color:#7f4caf;
      text-decoration: none;
      font-size: 18px;
      padding: 8px;
    }
     a:hover{
      color:#000000
     }

     .inicio{
      margin: 0px;
      height: 600px;
      width: 100%;
      display: flex;
      align-items:center;
      justify-content: center;
      background:linear-gradient#bb86fc;
      background-size: 100% 100%;
      animation:gradientAnimation 25s ease infinite;
      overflow: hidden;
      text-align:center;
     }

     .bloco-inicio h2{
        font-sixe:80px;
        color: #e0c3fc;
        animation: slideInUp 10s ease-out;
        text-shadow: 5px 6px 8px rgba(110, 79, 160, 0.856)
     }